<html>
    <head>
        <title>post list</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Boys blog</a></h1>
        </div>
        <div>
            <p>published: 4.06.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>
               This program is distributed in the hope that it will be useful,
               but WITHOUT ANY WARRANTY; without even the implied warranty of
               MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</p>
        </div>
        <div>
            <p>published: 4.06.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>
               This program is distributed in the hope that it will be useful,
               but WITHOUT ANY WARRANTY; without even the implied warranty of
               MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</p>
        </div>
    </body>
    </body>
</html>